openapi: 3.0.3
info:
  title: Listing Export API
  description: Retrieve listings in REAXML format
  version: 1.0.0
servers:
  - url: 'https://api.realestate.com.au'
    description: Production API
security:
  - PartnerPlatform:
      - 'listing:listings:export'
paths:
  '/listing/v1/export':
    get:
      tags:
        - listings-export
      summary: Export all listings filtered based on query params
      description: >-
        Export listings
      operationId: listings-export
      parameters:
        - $ref: '#/components/parameters/pageParam'
        - $ref: '#/components/parameters/listingTypesParam'
        - $ref: '#/components/parameters/statusParam'
        - $ref: '#/components/parameters/sinceParam'
        - $ref: '#/components/parameters/pageSizeParam'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '405':
          $ref: '#/components/responses/405'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'

  '/listing/v1/export?agency_id={agency_id}':
    get:
      tags:
        - listings-export
      summary: Export all listings by Agency
      description: >-
      operationId: listings-export-agency
      parameters:
        - in: path
          name: agency_id
          description: The agency to export listings for
          schema:
            type: string
          example: "ABCXYZ"
          required: true
        - $ref: '#/components/parameters/pageParam'
        - $ref: '#/components/parameters/listingTypesParam'
        - $ref: '#/components/parameters/statusParam'
        - $ref: '#/components/parameters/sinceParam'
        - $ref: '#/components/parameters/pageSizeParam'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '405':
          $ref: '#/components/responses/405'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
      security:
        - PartnerPlatform:
            - 'listing:listings:export'

  '/listing/v1/export?listing_id={listing_id}':
    get:
      tags:
        - listings-export
      summary: Export all listings by ListingID
      description: >-
      operationId: listings-export-listing
      parameters:
        - in: path
          name: listing_id
          description: The listing to export
          schema:
            type: string
          example: "000000000"
          required: true
        - $ref: '#/components/parameters/listingTypesParam'
        - $ref: '#/components/parameters/statusParam'
        - $ref: '#/components/parameters/sinceParam'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '405':
          $ref: '#/components/responses/405'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
      security:
        - PartnerPlatform:
            - 'listing:listings:export'
components:
  schemas:
    Error:
      type: object
      properties:
        status:
          type: string
        title:
          type: string
        detail:
          type: string
        meta:
          type: object
          properties:
            transactionId:
              type: string

    propertyList:
      description: See http://reaxml.realestate.com.au/propertyList.dtd for response structure
      type: object
      properties:
        residential:
          type: object
          properties:
            modTime:
              type: string
              xml:
                attribute: true
              example: '2020-05-20T10:23:43'
            status:
              type: string
              xml:
                attribute: true
              example: 'sold'
            '...':
              type: object

  securitySchemes:
    PartnerPlatform:
      type: oauth2
      description: OAuth 2 Client Credentials grant flow
      flows:
        clientCredentials:
          tokenUrl: https://api.realestate.com.au/oauth/token
          scopes:
            listing:listings:export: Export listings

  responses:
    '200':
      description: OK. Request will return stream of reaxml.
      content:
        application/xml:
          schema:
            allOf:
            $ref: '#/components/schemas/propertyList'
      headers:
        Transfer-Encoding:
          schema:
            type: "string"
          description: "gzip, chunked"
    '400':
      description: >-
        Bad Request. The request cannot be processed due to a client error. This could be due to:
          - Specifying agency id and listing id together.
          - Invalid page size.
      content:
        application/json:
          schema:
            allOf:
              - $ref: '#/components/schemas/Error'
            example:
              {
                "status": "404",
                "title": "Bad request",
                "detail": "listing_id is invalid",
                "meta": {
                  "transactionId": "123"
                }
              }
    '401':
      description: Unauthorized
    '403':
      description: Forbidden
      content:
        application/json:
          schema:
            allOf:
              - $ref: '#/components/schemas/Error'
            example:
              {
                "status": "403",
                "title": "Forbidden",
                "detail": "You are not authorized to access this endpoint",
                "meta": {}
              }
    '404':
      description: Not Found
      content:
        application/json:
          schema:
            allOf:
              - $ref: '#/components/schemas/Error'
            example:
              {
                "status": "404",
                "title": "Not found",
                "detail": "listing_id 123456789 not found",
                "meta": {
                  "transactionId": "123"
                }
              }
    '405':
      description: Method Not Allowed
    '429':
      description: Too Many Requests. You have exceeded the maximum number of requests permitted.
    '500':
      description: Internal Server Error

  parameters:
    pageParam:
      in: query
      name: page
      description: The listing Id to start from (for pagination)
      schema:
        type: string
      example: "000000000"
      required: false
    listingTypesParam:
      in: query
      name: listing_types
      description: "String of comma separated `ListingType` to include"
      schema:
        type: string
        enum:
          - residential
          - rental
          - rural
          - land
          - commercial
      example: "residential,rural"
      required: false
    statusParam:
      in: query
      name: status
      description: "String of comma separated `ListingStatus` to include"
      schema:
        type: string
        enum:
          - current
          - offmarket
          - sold
          - leased
      example: "current,offmarket"
      required: false
    sinceParam:
      in: query
      name: since
      description: "ISO8601 formatted datetime that filters based on the modTime of a listing"
      schema:
        type: string
        format: date-time
      example: "2018-03-20T09:12:28Z"
      required: false
    pageSizeParam:
      in: query
      name: page_size
      description: "An integer representing the pagination size"
      schema:
        type: integer
        default: 200
        minimum: 1
        maximum: 1000
      example: 500
      required: false
